
*{
  background : @bg;
}

.control-center-layout{
  border: 3px solid @fg;
}

/* USER */
.user {
  margin: 10px;
  padding: 3px;
  border: 3px solid @bg-alt;
  border-radius: 15px;
  box-shadow: 0 0 5px black;
}

.profile-info {
  margin: 10px;
}
.avatar-img {
  padding: 18px;
  margin: 0;
}

.hello{
  font-family: "Corinthia";
  font-size: 50px;
  color: @green;
  margin: 0px 0px 0px -15px; 
}

.username{
  font-family: "JetBrainsMono Nerd Font";
  color: @green;
  margin: 0px -20px 8px 0px; 
}

.uptime{
  font: 14px "JetBrainsMono Nerd Font";
  font-weight : bold;
  background: @bright-cyan;
  color: @bg;
  border-radius: 6px;
  margin: 20px 20px 20px -15px;
}


/* CONTROLS */

slider{
  all: unset;
}

.sliders{
  all: unset;
  border: 3px solid @bg-alt;
  border-radius: 15px;
  margin: 10px 5px 10px 10px;
  box-shadow: 0 0 5px black;
}

.brightness-slider, .volume-slider, scale trough {
  all: unset;
	background-color: @bg-alt;
	border-radius: 16px;
	min-height: 140px;
	min-width: 0px;
}

.brightness-slider, .volume-slider, highlight {
	all: unset;
  margin: 0;
	border-radius: 30px;
  padding: 10px;
  margin : -2;
}

.volume-slider highlight {
	background: linear-gradient(to top, @cyan 30%, @bright-cyan 50%, @bright-green 100%);
}

.brightness-slider highlight{
	background: linear-gradient(to top, @yellow 30%, @bright-yellow 50%, @bright-red 100%);
}

.vol-label{
  all:unset;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  color: @bg;
  padding:8px;
}

.br-label{
  all: unset;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  color: @bg;
}

.buttons{
  all: unset;
  padding: 10px;
  margin: 10px 10px 10px 5px; 
  border-radius: 15px;
  border: 3px solid @bg-alt;
  box-shadow: 0 0 5px black;
}

.wifi, .bluetooth, .airplane-mode, .volume, .night-light, .screenshot {
  min-width: 100px;
}
.switch{
  all: unset;
  border-radius: 5px 0px 0px 5px;
  margin: 10px 0px 10px 5px;
  background: @bg-alt;
}
.options{
  all: unset;
  border-left: 2px solid @bg;
  border-radius: 0px 5px 5px 0px;
  margin: 10px 5px 10px 0px;
  background: @bg-alt;

}
.switch-label {
  all:unset;
  font: 25 "JetBrainsMono Nerd Font";
}
.options-label{
  all: unset;
  font: 18 "JetBrainsMono Nerd Font";
}

.airplane-mode-off, .airplane-mode-on, .night-light-off, .night-light-on, .screenshot-button {
  border-radius: 5px;
  margin: 10px 5px 10px 5px;
}
.wifi-on,  .bluetooth-on{
  background: @bright-blue;
  color: @bg;
}

.airplane-mode-on, .muted{
  background: @bright-red;
  color: @bg;
}

.night-light-on{
  background: @bright-yellow;
  color: @bg;
} 
.switch:hover, .options:hover{
  background:@bright-green;
  color: @bg;
}

/* Fixing mis-alignment of nerdfont icons*/
.wifi-on, .wifi-off{
  padding: 0 6px 0 0 ;
}
.airplane-mode-off{
  padding:2px 5px 0 0 ;
}
.airplane-mode-on{
  padding:2px 3px 0 0 ;
}

.night-light-on{
  padding: 0 0 0 7px ;
}
.night-light-off{
  padding: 3px 0 0 14px;
}
.screenshot-button{
  padding: 3px 0 0 6px;
}


/*  SYSTEM RESOURCES */
.sys-res-layout{
  padding: 20px;
  margin: 10px;
  border: 3px solid @bg-alt;
  border-radius: 15px;
  box-shadow: 0 0 5px black;
}

.cpu-usage{
  color : @bright-green;
  background : @bg-alt;
}

.memory-usage{
  color: @bright-magenta;
  background : @bg-alt;
}

.disk-usage{
  color: @bright-blue;
  background : @bg-alt;
}

.resource_text{
  font: 15px "JetBrainsMono Nerd Font";
  text-decoration: underline;
  font-weight : bold;
  margin: 40px;
}


/* MEDIA */

.media-layout{
  border : 3px solid @bg-alt;
  border-radius: 15px;
  margin: 10px;
  padding: 3px;
  box-shadow: 0 0 5px black;
}
.media-info{
  margin: 20px;
}
.album-cover{
  margin: 10px;
  padding: 0 0 0 0;
  box-shadow: inset 0px 850px 500px -500px #fff;
  background: @bg-alt;
}

.song-artist-label, .song-title-label, .media-info {
  font: 18px "JetBrainsMono Nerd Font";
}

.media-info {
  font: 30px "JetBrainsMono Nerd Font";

}

.song-title, .song-artist, .media-buttons {
  padding: 0 25px 0 0;
}

.play_pause_icon {
  all: unset;
  color : @cyan;
}

.previous_icon, .next_icon{
  all: unset;
  color: @magenta;
}

.song-title-label, .song-artist-label{
  color: @bright-green;
}

.no-media{
  color: @bg-alt;
}


/* Hover Effects */

.user:hover, .buttons:hover, .sys-res-layout:hover, .media-layout:hover {
  box-shadow: 0 0 5px @cyan;
}
