.calendar{
 border: 3px solid @fg;
}
.date {
	 background-color: @bg;
	 color: @blue;
}

.timebox {
	 margin: 30px 0px;
}

.timebox .time-container .content {
	 font-family: Corinthia;
	 font-weight: bolder;
	 font-size: 80px;
}
.colon {
  color: @yellow;
	 font-family: Corinthia;
	 font-size: 80px;
}
.timebox .time-container .divider {
	 margin: 8px 15px;
	 padding: 0px 1px;
	 background: linear-gradient(@red, @magenta, @blue,@cyan, @green, @yellow);
}

.timebox .date-container {
	 font: 40px "Corinthia";
	 margin-top: 2px;
}

.cal-box {
	 font-family: JetBrainsMono Nerd Font;
	 background-color: @bg;
	 border-radius: 15px;
   box-shadow: 0 0 5px black;
	 padding: 0 1rem 0.2rem;
	 background-color: @bg-alt;
	 margin: 0px 12px 12px 12px;
}

.cal-box .cal {
	 background-color: inherit;
	 padding: 0.5rem 0.1rem 0rem;
	 margin-left: 10px;
	 border: 0px;
}

.cal-box .cal.highlight {
	 padding: 10rem;
}

calendar:selected {
	 color:@cyan;
}

calendar.header {
	 color:@cyan;
	 font-weight: bold;
}

calendar.button {
	 color:@cyan;
}

calendar.highlight {
	 color: @green;
	 font-weight: bold;
}

calendar:indeterminate {
	 color: @bg-alt;
}
 
