.calendar{
   border: 3px solid @fg;
   border-radius: 15px;
}
.timebox {
	 color: @color7;
}

.timebox {
	 margin: 30px 0px;
}
.timebox .time-container .content {
	 font-family: "ttyclock";
	 font-size: 60px;
}
.content {
  padding: 10;
  border-radius: 15px;
  margin: 20;
  background: @color12;
  color: @bg;
}
.timebox .date-container {
   font-family: "JetBrainsMono Nerd Font";
	 font-size: 20px;
	 margin-top: 2px;
}

.cal-box {
	 font-family: JetBrainsMono Nerd Font;
	 background-color: @bg;
   font-size: 18px;
	 border-radius: 15px;
   box-shadow: 0 0 5px black;
	 padding: 0 1rem 0.2rem;
	 background-color: @bg-alt;
	 margin: 0px 12px 12px 12px;
}

.cal-box .cal {
	 background-color: inherit;
	 padding: 0.5rem 0.1rem 0rem;
	 margin: 0px;
	 border: 0px;
}

.cal-box .cal.highlight {
	 padding: 10rem;
   background: @color3;
   color: @bg;
   border-radius: 6px;
  
}
.cal.selected{
  background: cyan;
}
calendar{
  color: @color6;
}
calendar:selected {
	 color:@color11;
}

calendar.header {
	 color:@color11;
	 font-weight: bold;
}

calendar.button {
	 color:@color11;
}
calendar.highlight {
	 color: @color3;
	 font-weight: bold;
}

calendar:indeterminate {
	 color: @bg;
}
 
